In [2]:
#These libraries are reqyured to manage the servicedesk dataset
# Numpy: used for large, multi-dimensional arrays and matrices, and for high-level mathematical functions
# Pandas: used for data manipulation and analysis
# matplotlib: used for visualisation and plotting graph/image/etc
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
pip install numpy

Collecting numpy
  Downloading numpy-1.21.6-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.7/15.7 MB 62.9 MB/s eta 0:00:0000:0100:01
Installing collected packages: numpy
Successfully installed numpy-1.21.6
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install pandas

Collecting pandas
  Downloading pandas-1.3.5-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 78.3 MB/s eta 0:00:0000:010:01
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.3.5
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.5.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (11.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.2/11.2 MB 58.2 MB/s eta 0:00:0000:010:01
Requirement already satisfied: python-dateutil>=2.7 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (2.8.2)
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: numpy>=1.17 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (1.21.6)
Collecting pillow>=6.2.0
  Downloading Pillow-9.1.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 70.6 MB/s eta 0:00:00:00:01
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 46.1 MB/s eta 0:00:00
Requirement already satisfied: pyparsing>=2.2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (3.0.7)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.33.3-py3-none-any.whl (930 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 930.9/930.9 KB 35.3 MB/s eta 0:00:00
Requirement already satisfied: packaging>=20.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (21.3)
Requirement already satisfied: typing-extensions in /srv/conda/envs/notebook/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib) (4.1.1)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pillow, kiwisolver, fonttools, cycler, matplotlib
Successfully installed cycler-0.11.0 fonttools-4.33.3 kiwisolver-1.4.3 matplotlib-3.5.2 pillow-9.1.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Import the service desk dataset
# head visualise the first five rows of the dataset
servicedesk = pd.read_csv('Dataset3.csv')
servicedesk.head()

,State,Priority,Assigned Group,Severity,P1 Incident,Urgency,Made SLA,Reassignment count
0,Closed,4,1,3,0,4,1,1
1,Closed,3,1,3,0,3,1,2
2,Closed,3,2,3,0,3,1,1
3,Closed,3,2,3,0,3,1,4
4,Closed,3,2,3,0,3,1,1

In [4]:
#explore continious feature
servicedesk.describe()

,Priority,Assigned Group,Severity,P1 Incident,Urgency,Made SLA,Reassignment count
count,4518.000000,4518.000000,4518.0,4518.000000,4518.000000,4518.000000,4518.000000
mean,3.027003,2.066180,3.0,0.014830,3.026782,0.948207,2.180832
std,0.362238,0.663614,0.0,0.120884,0.362560,0.221633,1.779602
min,1.000000,1.000000,3.0,0.000000,1.000000,0.000000,0.000000
25%,3.000000,2.000000,3.0,0.000000,3.000000,1.000000,1.000000
50%,3.000000,2.000000,3.0,0.000000,3.000000,1.000000,2.000000
75%,3.000000,3.000000,3.0,0.000000,3.000000,1.000000,3.000000
max,4.000000,3.000000,3.0,1.000000,4.000000,1.000000,17.000000

In [5]:
servicedesk.groupby('Made SLA').mean()

,Priority,Assigned Group,Severity,P1 Incident,Urgency,Reassignment count
Made SLA,,,,,,
0,2.948718,2.064103,3.0,0.047009,2.948718,2.132479
1,3.031279,2.066293,3.0,0.013072,3.031046,2.183473

In [6]:
servicedesk.groupby('P1 Incident').mean()

,Priority,Assigned Group,Severity,Urgency,Made SLA,Reassignment count
P1 Incident,,,,,,
0,3.052348,2.066277,3.0,3.052123,0.949899,2.178836
1,1.343284,2.059701,3.0,1.343284,0.835821,2.313433